
.icon-user:before { content: '\e800'; } /* '' */
.icon-bell:before { content: '\e801'; } /* '' */
.icon-folder-open:before { content: '\e802'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */